@page
@model Portfolio.Pages.AboutMeModel
@{
}

<div class="container ">
    <div class="row">
        <h2 class="myColor">About me</h2>
        <span>Aishna Sharma</span>
        <p>
            I’m passionate about building great products that make people’s lives easier.
            My ambition in life is to become an expert in my field with the ability to work with ease on any .NET framework, 
            Technologies and provide my clients, an automatic and cost efficient solution.
           </p>
        <p> Currently working as a Freelancer.</p>
        <p>
            Proficient in an assortment of technologies, including C#.NET ,WPF, MVC ASP.NET, Razor ,RESTFul API's and APP's,POSTMAN,
            MS SQL Server, Bootstrap, JavaScript, CSS and HTML,Azure Web Services, GITHUB, GITHUB Actions and Azure DevOps.
            Able to effectively self-manage during independent projects, as well as collaborate in a team.
        </p>
        <p>
            Apart from this I am pretty active person.
            In my free time I enjoy skating, Table Tennis , Badminton, zumba and working out with my gym buddies.
            I also enjoy great trips with my family, exploring new food and
            Sometimes I join some activities with my 2 lovely children as I am a creative person too.
        </p>
        </div>
        <div class="row">

            <div class="col-2">
            <a class="btn btn-outline-warning shadow p-2 mb-5 bg-white " asp-area="" asp-page="/Contact">Contact Me</a>
        </div>

    </div>


</div>