@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


      
<div class="main-one ">
    <h1> Hi I am</h1> <span class="auto">Aishna Sharma</span>
    <p>I am a programming enthusiastic. .NET developer with 5 years+ of Experience in all stages of advanced web development. 
        Bringing forth expertise in design, installation, testing and maintenance of web applications.
        Passionate to stay updated with the latest development trends. 

        Equipped with a diverse and promising skill-set.
        Proficient in an assortment of technologies, including C#.NET ,WPF, MVC ASP.NET, Razor ,
        MS SQL Server, JavaScript, CSS and HTML, GITHUB and Azure DevOps.</p>
    <input class="btn btn-primary" type="button" value="Hire Me"/>
  </div>


  <div class="main-two">
      Hello
      <img src="/Image/PicForResume1.jpeg"  alt="" />
  </div>

  
  <section class="projects" id="project">
    <h1>My Awesome<br/>
        <span>Projects</span></h1>
<p>I made  this Projects Using Razor Pages, MVC ASP.Net Projects</p>
 <input class="btn btn-primary" type="button" value="Download CV"/>
    <div class="projects-div flex-column div-1">
     <img src="" alt=""/>
     <<h3>Burger Website</h3>
     <p>in this website user can order burger</p>
     <input class="btn btn-primary" type="button" value="Preview"/>
     </div>
     <div class="Projects-div flex div-2">
         <img src="" alt=""/>
         <h3>News Website</h3>
         <p>this is news portal</p>
          <input class="btn btn-primary" type="button" value="Preview"/>
     </div>
     <div class="projects-div flex-column div-3">
         <img src=""alt="" />
         <h3>food App</h3>
         <p>This is Food ordering website </p>
         <input class="btn btn-primary" type="button" value="Preview"/>
     </div>
</section>
<br/><br/>
<section class="about flex" id="about">
<div class="about-one">
    <h1>About me</h1>
    <span>Aishna Sharma</span>
    <p>I am Aishna Sharma. I am a software Developer. Looking fo oppurtunities</p>
    <div class="btns">
    <input class="btn btn-primary" type="button" value="Download CV"/>
    <input class="btn btn-primary" type="button" value="Contact Me"/>
</div> 
</div>
<div class="about-two">
    <img src="" alt="" />
</div>
</section>
<br/><br/><br/>
<section class="contact" id="">
    <h1>Let us<span>Talk!</span></h1>
    <div class="box flex">
        <div>
            <i class="fa-solid fa-user"></i>
            <input type="text" placeholder="Name.."/>
        </div>
        <div>
        <i class="fa-solid fa-envelope"></i>
        <input type="email" placeholder="Email" />   
    </div>
    <textarea name="" id="" cols="60" rows="5" placeholder="Enter your message here.."></textarea>
    <div>
<input type="submit" classs="send" placeholder="Send" /> 
    </div>
    </div>
</section>
