@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


  <div class="container align-content-center "> 
  <div class="row">
        <div class="col-sm-6 mt-3">
         <h2 > Hii! I am</h2> 
         <span class="auto myColor">Aishna Sharma</span>
         <p>I am a programming enthusiast..NET developer with 5+ years of Experience in all stages of advanced web development. 
        Bringing forth expertise in design, installation, testing and maintenance of web applications.
        Passionate to stay updated with the latest development trends. 
        </p>

            <a class="btn btn-outline-warning shadow p-2 mb-5 bg-white" asp-page="/Contact">Say Hi!</a>
            
        </div>  
       <div class="col-sm-6 align-content-center">
         <img src="/Image/My project.png"  alt="" style="width:516px;" /> 
       </div>
 </div>
 
        </div>
 
 