@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


    <div class="container align-content-center text-dark"> 
      <div class="row">
        <div class="col-sm-6">
         <h2> Hi I am</h2> 
         <span class="auto">Aishna Sharma</span>
         <p>I am a programming enthusiastic. .NET developer with 5 years+ of Experience in all stages of advanced web development. 
        Bringing forth expertise in design, installation, testing and maintenance of web applications.
        Passionate to stay updated with the latest development trends. 

        Equipped with a diverse and promising skill-set.
        Proficient in an assortment of technologies, including C#.NET ,WPF, MVC ASP.NET, Razor ,
        MS SQL Server, JavaScript, CSS and HTML, GITHUB and Azure DevOps.</p>
        <span class="shadow p-3 mb-5 bg-white rounded">
         <input class="btn btn-outline-warning rounded " type="button" value="Say Hi!"/></span>
        </div>  
       <div class="col-sm-6 align-content-center">
         
             <img src="/Image/My project.png"  alt="" style="width:516px;" />
           
       </div>
     </div>
   
    <div class="row mt-5 mb-5" id="project">
    
        <h1>My Awesome<br/>
        <span>Projects</span></h1>
         <p>I made  this Projects Using Razor Pages, MVC ASP.Net Projects</p>
         
  </div>
  <div class="row mt-5 mb-5">
     <div class="col-sm-4">
        <div class="card " style="width:18rem;">
        <img class="card-img" src="" alt=""/>
            <div class="card-body">
            <h4 class="card-title mb-2">Burger Website</h4>
            <p class="card-subtitle">in this website user can order burger</p>
            <input class="btn btn-outline-warning" type="button" value="Preview"/>
            </div>
        </div>
     </div>
     <div class="col-sm-4">
            <div class="card" style="width:18rem;">
             <img class="card-img" src="" alt=""/>
                <div class="card-body">
                <h4 class="card-title mb-2">News Website</h4>
                 <p class="card-text">This is news Portal</p>
                <input class="btn btn-outline-warning" type="button" value="Preview"/>
                </div>
             </div>
     </div>
     <div class="col-sm-4 align-right">
          <div class="card" style="width:18rem;">
             <img class="card-img" src="" alt=""/>
                <div class="card-body">
                <h4 class="card-title mb-2">Food App</h4>
                 <p class="card-text">This is food ordering website</p>
                <input class="btn btn-outline-warning" type="button" value="Preview"/>
                </div>
           </div>
     </div>
 </div>
  

          <div class="row mt-5 mb-5">
            <div class="col">
                <section class="about flex" id="about">
                    <div class="about-one">
                    <h1>About me</h1>
                    <span>Aishna Sharma</span>
                    <p>I am Aishna Sharma. I am a software Developer. Looking fo oppurtunities</p>
                    <form class="btns">
                    <input class="btn btn-primary" type="button" value="Contact Me"/>
                    </form> 
                    </div>
                <div class="about-two">
                <img src="" alt="" />
                </div>
                </section>
            </div>
        </div>
    <div class="row mt-5 mb-5">
        <div class="col justify-content-center">
            <section class="contact" id="">
             <h1>Let us<span>Talk!</span></h1>
               <div class="box flex">
                 <div>
                    <i class="fa-solid fa-user"></i>
                    <input type="text" placeholder="Name.."/>
                 </div>
                <div>
                <i class="fa-solid fa-envelope"></i>
                <input type="email" placeholder="Email" />   
                </div>
                 <textarea name="" id="" cols="60" rows="5" placeholder="Enter your message here.."></textarea>
                 <div>
                <input type="submit" classs="send" placeholder="Send" /> 
                </div>
                </div>
            </section>
        </div>
    </div>
</div>