@page
@model Portfolio.Pages.ProjectsModel
@{
}
<div class="Projects" id="project">
    <h1>My Awesome<br/>
        <span>Projects</span></h1>
<p>I made  this Projects Using Razor Pages, MVC ASP.Net Projects</p>
 <input class="btn btn-primary" type="button" value=""/>
 <input class="btn btn-primary" type="button" value="Download CV"/>
 
</div>