@page
@model ProjectModel
@{
   
}
<div class="container">
    <div class="row">
        <div class="col">
            <h2 class="myColor">
                My Awesome
                <span>Projects</span>
            </h2>
            <p>Projects made by me.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width:18rem;">
                <div class="img-fluid img-thumbnail">
                    <img class="card-img-top" src="~/Image/BurgerPage.png" alt="Burger Website" style="width:100%;" />
                </div>
                <div class="card-body">
                    <h4 class="card-title mb-2">Food order Website</h4>
                    <p class="card-subtitle">
                        This is a food ordering website.
                        Technologies used: ASP.Net Razor Pages, Bootstrap and SQL Server.
                    </p>
                    <a class="btn btn-outline-warning shadow p-2 mb-5 bg-white" type="button" href="https://orderyourfood.azurewebsites.net/">Preview</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width:18rem;">
                <div class="img-fluid img-thumbnail">
                    <img class="card-img-top" src="~/Image/ExpensePage.png" alt="Book Loan and Expense Website" style="width:100%;" />
                </div>
                <div class="card-body">
                    <h4 class="card-title mb-2">Books record</h4>
                    <p class="card-text">
                        This is a books Management system.
                        You can view, add, update or delete the records.
                        Technologies used are:MVC ASP.Net, Bootstrap and Sql Server
                    </p>
                    <a class="btn btn-outline-warning shadow p-2 mb-5 bg-white" type="button" href="https://orderyourfood.azurewebsites.net/">Preview</a>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="card shadow p-3 mb-5 bg-white rounded" style="width:18rem;">
                <div class="img-fluid img-thumbnail">
                    <img class="card-img-top img-fluid" src="~/Image/MinimalAPI.png" alt="Minimal API" style="width:100%;" />
                </div>
                <div class="card-body">
                    <h4 class="card-title mb-2">Minimal API</h4>
                    <p class="card-text">
                        For accessing API's verb using Stored Procedures for CRUD methods.
                        Technologies used: Dapper, Minimal API's', Sql Server
                    </p>
                    <a class="btn btn-outline-warning shadow p-2 mb-5 bg-white" type="button" href="https://orderyourfood.azurewebsites.net/">Preview</a>
                </div>
            </div>
        </div>
    </div>
</div>
